OCI_CLI_REGION=us-phoenix-1
OCI_COMPARTMENT_ID=ocid1.tenancy.oc1..replace-with-your-tenancy-or-compartment-ocid
OCI_SUBNET_ID=ocid1.subnet.oc1.phx.replace-with-your-subnet-ocid
OCI_CLI_USER=ocid1.user.oc1..replace-with-your-user-ocid
OCI_CLI_TENANCY=ocid1.tenancy.oc1..replace-with-your-tenancy-ocid
OCI_CLI_FINGERPRINT=replace-with-your-api-key-fingerprint
OCI_CLI_KEY_FILE=/home/hermes/.oci/oci_api_key.pem
SSH_PUBLIC_KEY_FILE=/home/hermes/.ssh/oracle.pub
AD_NAME=UCEG:PHX-AD-2
IMAGE_ID=ocid1.image.oc1.phx.aaaaaaaavfbkczxpy4zopkqswucpfx7tv7x5xyjvppsp4l5tjkwv5kctr3dq
INSTANCE_NAME=coolify-vm
BOOT_VOLUME_SIZE_GB=200
SHAPE=VM.Standard.A1.Flex
SHAPE_CONFIG='{"ocpus":4,"memoryInGBs":24}'
